$base-color: #3b8272;
$percentage: 15;

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: 0.8s opacity ease-out;
}

.projectCard {
  transition: all 0.5s ease;
  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  height: 143px;
  background-color: $base-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @for $i from 2 to 16 {
    $percentage: $i * 10;
    
   &:nth-child(#{$i}) {
      background-color: adjust-hue( $base-color, $percentage );
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &--selected {
    position: fixed;
    margin-top: calc(50vh - 250px);
    z-index: 201;
    left: 0;
    right: 0;
    width: 400px;
    height: 500px;
    margin: 0 auto;
  }

  &__button {
    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

$descriptionColWidth: 300px;

.projectView {
  img {
    width: 100%;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .5);
    color: $white;
    z-index: 200;
  }

  &__description {
    width: $descriptionColWidth;
    height: 100%;
    position: absolute;
  }

  &__title {
    margin-top: -96px;
    position: fixed;
    max-width: 100%;
    transform: rotate(-3deg);

    svg {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    span {
      position: relative;
      margin: 10px 30px 11px;
    }
  }

  &__gallery {
    padding-left: $descriptionColWidth;
    margin-left: 20px;
  }

  &__text {
    margin: 10px 0;
    border-top: 1px dashed $dashedLine;
    padding-top: 10px;
  }

  .hamburger {
    position: fixed;
    padding-left: 21px;
    margin-left: 868px;
    margin-top: -156px;

    &__lineWrapper {
      transform: translate(16px, 3px);
    }
  }
}
