.ghost
  .ghost__eye.ghost__eye--1
  .ghost__eye.ghost__eye--2
  .ghost__triangle.ghost__triangle--1
  .ghost__triangle.ghost__triangle--2
  .ghost__triangle.ghost__triangle--3
  .ghost__triangle.ghost__triangle--4
.ghost__shadow